---
layout: default
title: 分类
nav_active: category
---

<div class="content col_6 col_md_8 col_sm_10 col_ssm_12 offset_2 offset_sm_1 offset_ssm_0">
	<div class="details">
		<div class="detail categoryContentBlock">


            <h2>{{ page.title }}</h2>
			<ul class="categoryTabs">
			{% for category in site.categories %}
				<li><a href="#{{ category | first }}">{{ category | first }}</a> <span>({{ category | last | size }})</span></li>
			{% endfor %}
			</ul>

			{% for category in site.categories %}
				<a name="{{ category | first }}"></a>
				<h2>{{ category | first }}</h2>

				<ul class="arc-list">
				    {% for post in category.last %}
				        <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}#{{ post.title }}">{{ post.title }}</a></li>
				    {% endfor %}
				</ul>
			{% endfor %}
			
		</div>
	</div>
</div>