---
layout: default
title: 标签
nav_active: tags
---

<div class="content col_6 col_md_8 col_sm_10 col_ssm_12 offset_2 offset_sm_1 offset_ssm_0">
    <div class="details">
        <div class="detail tagsContentBlock">

            <h2 class="pageTitle">{{ page.title }}</h2>
            <ul class="tagsTabs tabsList">
            {% for item in site.tags %}
                <li><a href="#{{ item | first }}">{{ item | first }}</a> <span>({{ item | last | size }})</span></li>
            {% endfor %}
            </ul>

            {% for item in site.tags  %}
                <a name="{{ item[0] | capitalize }}"></a>
                <h3 class="blockHeader" id="{{ item[0] | slugify }}">{{ item[0] | capitalize }}</h3>

                <ul class="blockContent">
                    {% assign pages_list = item[1] %}
                    {% for post in pages_list reversed %}
                        {% if post.title != null %}
                            {% if group == null or group == post.group %}
                            <li>
                        	<p><a href="{{ post.url }}#{{ post.title }}">
                        		{{ post.title }}</a><span class="date"><time datetime="{{ post.date | date:'%d/%m/%Y' }}"> - {{ post.date | date:"%d/%m/%Y" }}</time></span></p>
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% assign pages_list = nil %}
                    {% assign group = nil %}
                </ul>
            {% endfor %}
            
        </div>
    </div>
</div>