---
layout: default
title: Tags
---

<div class="content col_6 col_md_8 col_sm_10 col_ssm_12 offset_2 offset_sm_1 offset_ssm_0">
    <div class="details">
        <div class="detail">

            <h2>{{ page.title }}</h2>

            {% for tag in site.tags  %}
            <h2 id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</h2>

            <ul>
                {% assign pages_list = tag[1] %}
                {% for post in pages_list reversed %}
                {% if post.title != null %}
                {% if group == null or group == post.group %}
                <li>
            	<p><a href="{{ site.url }}{{ post.url | prepend: site.baseurl }}">
            		{{ post.title }}</a><span class="date"><time datetime="{{ post.date | date_to_long_string }}"> - {{ post.date | date_to_long_string }}</time></span></p>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% assign pages_list = nil %}
                {% assign group = nil %}
            </ul>
            {% endfor %}
            
        </div>
    </div>
</div>