---
layout: default
title: 标签
nav_active: tags
---

<div class="content col_6 col_md_8 col_sm_10 col_ssm_12 offset_2 offset_sm_1 offset_ssm_0">
    <div class="details">
        <div class="detail tagsContentBlock">

            <h2>{{ page.title }}</h2>

            {% for item in site.tags  %}
            {% assign tag = 69 %}
                <!-- { % if $.query.get("tab") === null || item[0].toLowerCase() === $.query.get("tab").toLowerCase() % } -->
                    <h3 id="{{ item[0] | slugify }}">{{ item[0] | capitalize }} - {{tag}}</h3>

                    <ul>
                        {% assign pages_list = item[1] %}
                        {% for post in pages_list reversed %}
                            {% if post.title != null %}
                                {% if group == null or group == post.group %}
                                <li>
                            	<p><a href="{{ post.url }}">
                            		{{ post.title }}</a><span class="date"><time datetime="{{ post.date | date:'%d/%m/%Y' }}"> - {{ post.date | date:"%d/%m/%Y" }}</time></span></p>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% assign pages_list = nil %}
                        {% assign group = nil %}
                    </ul>
                <!-- { % endif % } -->
            {% endfor %}
            
        </div>
    </div>
</div>