<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}_{{ site.sitename }}</title>
{% include head.html %}
</head>
<body>
<div id="wrapper">
	<div class="headerWrapper">
		{% include header.html %}
	</div>
	<div class="navWrapper">
		{% include nav.html %}
	</div>
	<div class="mainWrapper">
		{{ content }}
	</div>
	<div class="footerWrapper">
		{% include footer.html %}
	</div>
</div>

<script>
seajs.config({
  base: "./js/",
  alias: {
    "zepto": "zepto/zepto.min.js",
    "zepto-fx": "zepto/fx.js"
  }
});
// 加载入口模块
seajs.use(['zepto', './js/main'], function($, main){
	Zepto(function($){
		var Main = main.init();
		Main.header();
	});
});
</script>
</body>
</html>